{% load i18n %}
{% load recipy_filters %}
{% load recipy_tags %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{% url 'recipy:index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            {% setting 'PRODUCT_NAME' %}
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    {% url 'recipy:recipes-list' as dashboard_url %}
    <li class="nav-item {% if dashboard_url|is_current_url:request %}active{% endif %}">
        <a class="nav-link" href="{{ dashboard_url }}">
            <i class="fas fa-fw fa-utensils"></i>
            <span>{% trans 'Recipes' %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Link to Website -->
    {% setting 'WEBSITE_URL' as website_url %}
    <li class="nav-item">
        <a class="nav-link" href="{{ website_url }}" target="_blank">
            <i class="fas fa-fw fa-globe"></i>
            vinkomlacic.com
            <i class="fas fa-fw fa-external-link-alt"></i>
        </a>
    </li>

    <!-- Nav Item - Logout -->
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#{% element_id 'logout-modal' %}">
            <i class="fas fa-sign-out-alt fa-fw"></i>
            Logout
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->