{% load recipy_tags %}
{% load static %}
{% load i18n %}

<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow">
            <a id="user-dropdown" class="nav-link dropdown-toggle" href="#"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ user.username }}
                </span>
{#              FIXME: this should be replaced by proper pictures or at least assigned when creating account #}
                <img class="img-profile rounded-circle" src="{% static 'recipy/img/undraw_profile_3.svg' %}" alt="Profile photo" />
            </a>

            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="user-dropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#{% element_id 'logout-modal' %}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>

</nav>
<!-- End of Topbar -->